/* IPAD Pro */
@media only screen and (max-width: 1024px) {
  input[type="text"],
  input[type="password"] {
      width: 40rem;
      padding-left: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      height: 3rem;
      font-size: 1.5rem;
  }
  button:hover {
      opacity: 0.8;
  }
  label {
      font-size: 1.3rem;
  }
  .container {
      padding: 0.5rem;
      width: 41rem;
      text-align: left;
      align-items: flex-end;
      font-size: 2rem;
  }
  .cancelbtn {
      font-size: 1.5rem;
      margin-left: 16rem;
      margin-top:-0.5rem;
  }
  .loginbtn {
      font-size: 1.5rem;
      width: 40rem;
      display: block;
      margin-top: -0.5rem;
  }
  .registerbtn {
      font-size: 1.5rem;
      margin-top: 1.2rem;
  }
}

/* IPAD  */
@media only screen and (max-width: 768px) {
  input[type="text"],
  input[type="password"] {
      width: 23rem;
      padding-left: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      height: 3rem;
      font-size: 1.2rem;
  }
  button:hover {
      opacity: 0.8;
  }

  label {
      font-size: 1.2rem;
  }

  .container {
      padding: 0.5rem;
      width: 24rem;
      text-align: left;
      align-items: flex-end;
      font-size: 1.9rem;
  }
  .cancelbtn {
      font-size: 1.2rem;
      margin-left: 8.4rem;
  }

  .loginbtn {
      font-size: 1rem;
      width: 23rem;
      display: block;
      margin-top: -0.5rem;
  }
  .registerbtn {
      font-size: 1.2rem;
  }
}

/* IPhone 6/7/8 plus  */
@media only screen and (max-width: 415px) {
input[type="text"],
input[type="password"] {
    width: 18rem;
    padding-left: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 2rem;
    font-size: 0.8rem;
}
button:hover {
    opacity: 0.8;
}
label {
  font-size: 1rem;
}
.container {
    padding: 0.5rem;
    width: 19rem;
    text-align: left;
    align-items: flex-end;
    font-size: 0.8rem;
}
.cancelbtn {
  font-size: 1rem;
  margin-left: 6.2rem;
  margin-top: -0.2rem;
}
.loginbtn {
    font-size: 1rem;
    width: 18rem;
    display: block;
    padding: 0.5rem;
    margin-top: -0.2rem;
}
.registerbtn {
    font-size: 1rem;
    padding: 0.5rem;
}
}

/*Iphone 6/7/8  */
@media only screen and (max-width: 376px) {
  input[type="text"],
  input[type="password"] {
      width: 17rem;
      padding-left: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      height: 2rem;
      font-size: 0.8rem;
  }
  button:hover {
      opacity: 0.8;
  }
  label {
    font-size: 1rem;
}
  .container {
      padding: 0.5rem;
      width: 18rem;
      text-align: left;
      align-items: flex-end;
      font-size: 0.8rem;
  }
  .cancelbtn {
    font-size: 1rem;
    margin-left: 5.8rem;
    margin-top: -0.2rem;
  }
  .loginbtn {
      font-size: 1rem;
      width: 17rem;
      display: block;
      padding: 0.5rem;
      margin-top: -0.2rem;
  }
  .registerbtn {
      font-size: 1rem;
      padding: 0.5rem;
  }
}