/* IPAD Pro */
@media only screen and (max-width: 1024px) {
  input[type="text"],
  input[type="password"] {
      width: 40rem;
      padding-left: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      height: 3rem;
      font-size: 1.5rem;
  }
  button:hover {
      opacity: 0.8;
  }
  label {
      font-size: 1.3rem;
  }
  .container {
      padding: 0.5rem;
      width: 41rem;
      text-align: left;
      align-items: flex-end;
      font-size: 2rem;
  }
  .cancelbtn {
      font-size: 1.5rem;
      margin-left: 16rem;
      margin-top:-0.5rem;
  }
  .loginbtn {
      font-size: 1.5rem;
      width: 40rem;
      display: block;
      margin-top: -0.5rem;
  }
  .registerbtn {
      font-size: 1.5rem;
      margin-top: 1.2rem;
  }
  
 #habit-form {
    font-size: 2.2rem;
    width: 57rem;
    left: 4px;
    margin-left: 2rem;
    background-color: rgba(128, 128, 128, 0.473);
    border-radius: 25px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #habit-form h2 {
    text-align: center;
    font-size: 1.5rem;
}
  #name {
    width:100%;
    height: 3rem;
    padding-left: 0.4rem;
    border-radius: 4px;
    margin-right: 2px;
    font-size: 2rem;
  
  }
  #desc {
    width: 100%;
    height: 3rem;
    border-radius: 4px;
    padding-left: 0.4rem;
    margin-right: 2px;
    font-size: 2rem;
  }
  #freq {
    width: 10rem;
    font-size: 1.8rem;
    border-radius: 50px;
    font-size: 2rem;
  }
  #submitbtn {
    display: inline-block;
    font-size: 1.7rem;
    cursor: pointer;
    text-align: center;
    outline: none;
    color: #fff;
    background: linear-gradient(
          to right,
          rgb(245, 210, 112),
          hsl(12, 83%, 70%)
      );
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 18rem;
    margin-left:17rem;
  }

}

/* IPAD  */
@media only screen and (max-width: 768px) {
  input[type="text"],
  input[type="password"] {
      width: 23rem;
      padding-left: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      height: 3rem;
      font-size: 1.2rem;
  }
  button:hover {
      opacity: 0.8;
  }

  label {
      font-size: 1.2rem;
  }

  .container {
      padding: 0.5rem;
      width: 24rem;
      text-align: left;
      align-items: flex-end;
      font-size: 1.9rem;
  }
  .cancelbtn {
      font-size: 1.2rem;
      margin-left: 8.4rem;
  }

  .loginbtn {
      font-size: 1rem;
      width: 23rem;
      display: block;
      margin-top: -0.5rem;
  }
  .registerbtn {
      font-size: 1.2rem;
  }
    
 #habit-form {
  font-size: 2rem;
  width: 40rem;
  left: 4px;
  margin-left: 2.2rem;
  background-color: rgba(128, 128, 128, 0.473);
  border-radius: 25px;
  padding-left: 2rem;
  padding-right: 2rem;
}
#habit-form h2 {
  text-align: center;
  font-size: 1.5rem;
}
#freq {
  width: 10rem;
  font-size: 1.8rem;
  border-radius: 50px;
  font-size: 2rem;
}
#submitbtn {
  display: inline-block;
  font-size: 1.7rem;
  cursor: pointer;
  text-align: center;
  outline: none;
  color: #fff;
  background: linear-gradient(
        to right,
        rgb(245, 210, 112),
        hsl(12, 83%, 70%)
    );
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  width: 18rem;
  margin-left:9rem;
}
}


/* IPhone 6/7/8 plus  */
@media only screen and (max-width: 415px) {
input[type="text"],
input[type="password"] {
    width: 18rem;
    padding-left: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 2rem;
    font-size: 0.8rem;
}
button:hover {
    opacity: 0.8;
}
label {
  font-size: 1rem;
}
.container {
    padding: 0.5rem;
    width: 19rem;
    text-align: left;
    align-items: flex-end;
    font-size: 0.8rem;
}
.cancelbtn {
  font-size: 1rem;
  margin-left: 6.2rem;
  margin-top: -0.2rem;
}
.loginbtn {
    font-size: 1rem;
    width: 18rem;
    display: block;
    padding: 0.5rem;
    margin-top: -0.2rem;
}
.registerbtn {
    font-size: 1rem;
    padding: 0.5rem;
}
#habit-form {
  font-size: 1rem;
  width: 22rem;
  left: 4px;
  margin-left: 1.5rem;
  background-color: rgba(128, 128, 128, 0.473);
  border-radius: 25px;
  padding-left: 1.5rem;
  padding-right: 2rem;
}
#habit-form h2 {
  text-align: center;
  font-size: 1rem;
}
#habit-form h2 {
  padding-bottom: 1.3rem;
 }
#freq {
  width: 6rem;
  font-size: 1rem;
  border-radius: 50px;
}
#name {
  font-size: 1rem;
}
#desc {
  font-size: 1rem;
}
#submitbtn {
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  outline: none;
  color: #fff;
  background: linear-gradient(
        to right,
        rgb(245, 210, 112),
        hsl(12, 83%, 70%)
    );
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  width: 8rem;
  margin-left:5rem;
}
}

/*Iphone 6/7/8  */
@media only screen and (max-width: 376px) {
  input[type="text"],
  input[type="password"] {
      width: 17rem;
      padding-left: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      height: 2rem;
      font-size: 0.8rem;
  }
  button:hover {
      opacity: 0.8;
  }
  label {
    font-size: 1rem;
}
  .container {
      padding: 0.5rem;
      width: 18rem;
      text-align: left;
      align-items: flex-end;
      font-size: 0.8rem;
  }
  .cancelbtn {
    font-size: 1rem;
    margin-left: 5.8rem;
    margin-top: -0.2rem;
  }
  .loginbtn {
      font-size: 1rem;
      width: 17rem;
      display: block;
      padding: 0.5rem;
      margin-top: -0.2rem;
  }
  .registerbtn {
      font-size: 1rem;
      padding: 0.5rem;
  }
  #habit-form {
    font-size: 1rem;
    width: 20rem;
    left: 4px;
    margin-left: 1rem;
    background-color: rgba(128, 128, 128, 0.473);
    border-radius: 25px;
    padding-left: 1.5rem;
    padding-right: 2rem;
  }
  #habit-form h2 {
    text-align: center;
    font-size: 1rem;
  }
  #habit-form h2 {
    padding-bottom: 1.3rem;
   }
  #freq {
    width: 6rem;
    font-size: 1rem;
    border-radius: 50px;
  }
  #name {
    font-size: 1rem;
  }
  #desc {
    font-size: 1rem;
  }
  #submitbtn {
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    outline: none;
    color: #fff;
    background: linear-gradient(
          to right,
          rgb(245, 210, 112),
          hsl(12, 83%, 70%)
      );
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 8rem;
    margin-left:4.5rem;
  }
  }