/* Reset styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styling */
body {
  font-family: "Montserrat", sans-serif;
}

h1,
button {
  font-family: "Raleway", sans-serif;
  color: hsl(243, 87%, 12%);
}

p {
  color: hsl(243, 87%, 12%);
  margin-top: 20px;
}

button {
  border: none;
  border-radius: 3px;
}

.primary-button {
  color: white;
  padding: 12px 30px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background: linear-gradient(
      to right,
      rgb(245, 210, 112),
      hsl(12, 83%, 70%)
  );
  color: white;
  font-weight: bold;
}

.primary-button:hover {
  background: linear-gradient(
      to right,
      rgba(245, 210, 112, 0.7),
      hsla(12, 83%, 70%, 0.7)
  );
}
